<div class="min-h-screen bg-[#070814] text-[#e2e8f0] font-sans antialiased pb-12 relative overflow-hidden">
    
    <div class="absolute top-[-10%] left-[-10%] w-[500px] h-[500px] rounded-full bg-purple-900/10 blur-[120px] pointer-events-none"></div>
    <div class="absolute top-[30%] right-[-10%] w-[600px] h-[600px] rounded-full bg-indigo-900/10 blur-[140px] pointer-events-none"></div>

    <div class="w-full max-w-full mt-52 pt-0 relative z-10">
        
        

        <div class="max-w-5xl mx-auto px-4 relative z-20 -mt-20 md:-mt-25 ">
            
            <div class=" w-full bg-[#0d0f2d]/55 border border-white/10 rounded-4xl backdrop-blur-xl p-5 md:p-8 shadow-[0_25px_50px_-12px_rgba(0,0,0,0.7)]">
                
                <div class="flex items-start justify-between gap-4 mb-8">
                    <div>
                        <h1 class="text-2xl md:text-3xl font-bold tracking-wide text-white">Change Password</h1>
                        <p class="text-gray-400 text-sm mt-2 leading-relaxed max-w-md">
                            Update your password to keep your account secure.
                        </p>
                    </div>
                    
                    <div class="w-14 h-14 rounded-full bg-gradient-to-tr from-purple-500/10 to-indigo-500/10 border border-purple-500/30 flex items-center justify-center shrink-0 shadow-[0_0_20px_rgba(168,85,247,0.2)]">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.8" stroke="currentColor" class="w-6 h-6 text-purple-400">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                        </svg>
                    </div>
                </div>

                <form 
                 [formGroup]="changePasswordForm"
                 (ngSubmit)="submitForm()"
                class="space-y-6">
                    
                    <div class="space-y-2">
                        <label for="current_password" class="block text-[15px] font-semibold tracking-wide text-gray-300">Current Password</label>
                        <div class="relative group/input">
                            <input 
                                type="password" 
                                id="current_password"
                                formControlName="currentPassword"
                                class="w-full bg-[#11152f]/80 border border-white/5 rounded-2xl px-4 py-3.5  text-[15px] text-white placeholder:text-gray-600 focus:outline-none focus:border-purple-500/40  focus:ring-2 focus:ring-purple-500/30 transition-all duration-200"
                                placeholder="Enter your current password"
                                required>
                            
                        </div>
                    </div>

                    <div class="space-y-2">
                        <label for="new_password" class="block text-[15px] font-semibold tracking-wide text-gray-300">New Password</label>
                        <div class="relative group/input">
                            <input 
                                type="password" 
                                id="new_password"
                                formControlName="password"
                                class="w-full bg-[#11152f]/80 border border-white/5 rounded-2xl px-4 py-3.5  text-sm text-white placeholder:text-gray-600 focus:outline-none focus:border-purple-500/40  focus:ring-2 focus:ring-purple-500/30 transition-all duration-200"
                                placeholder="Enter your new password"
                                required>
                            
                        </div>
                    </div>

                    @if (changePasswordForm.get('password')?.errors && changePasswordForm.get('password')?.touched) {

                      <p class="text-red-400 text-xs mt-2">

                        Password must contain:
                        uppercase letter, number and minimum 6 characters

                      </p>

                    }

                    <div class="space-y-2">
                        <label for="confirm_password" class="block text-[15px] font-semibold tracking-wide text-gray-300">Confirm New Password</label>
                        <div class="relative group/input">
                            <input 
                                type="password" 
                                id="confirm_password"
                                formControlName="rePassword"
                                class="w-full bg-[#11152f]/80 border border-white/5 rounded-2xl px-4 py-3.5  text-sm text-white placeholder:text-gray-600 focus:outline-none focus:border-purple-500/40  focus:ring-2 focus:ring-purple-500/30 transition-all duration-200"
                                placeholder="Re-enter your new password"
                                required>
                        </div>
                        
                    </div>

                     <!-- Button -->
                    <button
                        type="submit"
                       [class.cursor-not-allowed]="isLoading"
                        class="w-full mt-2 cursor-pointer flex items-center justify-center gap-2 text-white bg-gradient-to-r from-purple-600 via-indigo-600 to-blue-600 hover:from-purple-500 hover:to-blue-500 hover:scale-[1.01] font-semibold tracking-wide rounded-2xl text-[14px] py-4 shadow-[0_10px_30px_rgba(139,92,246,0.35)] active:scale-[0.99] transition-all duration-300 focus:outline-none relative overflow-hidden group/btn">

                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="2"
                             stroke="currentColor"
                             class="w-4 h-4 text-purple-200">

                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M13.5 10.5V6.75a4.5 4.5 0 119 0v3.75M3.75 21.75h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H3.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"/>
                        </svg>

                        <span>  {{ isLoading ? 'Updating...' : 'Update Password' }} </span>

                    </button>
                </form>

                <div class="mt-8 pt-5 border-t border-white/5 flex items-start gap-2.5 px-1 text-xs text-gray-400 font-medium leading-relaxed">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4 text-blue-400 shrink-0 mt-0.5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                    </svg>
                    <span>
                        <strong class="text-blue-400">Strong password tips:</strong> Use a mix of uppercase, lowercase, numbers, and symbols to ensure total security.
                    </span>
                </div>

            </div>
            
        </div>

    </div>
</div>