<aside class=" bg-[#090a1a]/60 border-r fixed border-white/5 rounded-4xl  p-4 flex flex-col gap-2">
        
        <a href="#" class="glass-active flex items-center justify-between px-4 py-3.5 rounded-[20px] text-white text-base font-medium transition-all duration-200 group">
            <div class="flex items-center gap-4">
                <div class="text-purple-400 drop-shadow-[0_0_8px_rgba(168,85,247,0.6)]">
                    <svg xmlns="http://www.w3.org/2000/svg" 
     class="h-6 w-6"
     fill="none" 
     viewBox="0 0 24 24" 
     stroke="currentColor">

    <path 
        d="M20.965 7C20.8873 5.1277 20.6366 3.97975 19.8284 3.17157C18.6569 2 16.7712 2 13 2H11C7.22876 2 5.34315 2 4.17157 3.17157C3 4.34315 3 6.22876 3 10V14C3 17.7712 3 19.6569 4.17157 20.8284C5.34315 22 7.22876 22 11 22H13C16.7712 22 18.6569 22 19.8284 20.8284C21 19.6569 21 17.7712 21 14V11"
        stroke-linecap="round"
        stroke-width="1.8" />

    <path 
        d="M6 12C6 10.5858 6 9.87868 6.43934 9.43934C6.87868 9 7.58579 9 9 9H15C16.4142 9 17.1213 9 17.5607 9.43934C18 9.87868 18 10.5858 18 12V16C18 17.4142 18 18.1213 17.5607 18.5607C17.1213 19 16.4142 19 15 19H9C7.58579 19 6.87868 19 6.43934 18.5607C6 18.1213 6 17.4142 6 16V12Z"
        stroke-width="1.8" />

    <path 
        d="M7 6H12"
        stroke-linecap="round"
        stroke-width="1.8" />

                 </svg>
                    
                </div>
                <span>Feed</span>
            </div>
        </a>

        <a
         routerLink="/my-posts" class="flex items-center justify-between px-4 py-3.5 rounded-[20px] text-gray-400 hover:text-gray-200 hover:bg-white/5 transition-all duration-200 group">
            <div class="flex items-center gap-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6  text-gray-500 group-hover:text-gray-400 transition-colors" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                    </svg>
               
                <span>My Posts</span>
            </div>
        </a>


        <a routerLink="/suggestions" class="flex items-center justify-between px-4 py-3.5 rounded-[20px] text-gray-400 hover:text-gray-200 hover:bg-white/5 transition-all duration-200 group">
            <div class="flex items-center gap-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500 group-hover:text-gray-400 transition-colors" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                </svg>
                <span>Communities</span>
            </div>
        </a>

        <a routerLink="/saved"
            class="flex items-center justify-between px-4 py-3.5 rounded-[20px] text-gray-400 hover:text-gray-200 hover:bg-white/5 transition-all duration-200 group">
            <div class="flex items-center gap-4">
                <svg xmlns="http://www.w3.org/2000/svg" 
     class="h-6 w-6 text-gray-500 group-hover:text-gray-400 transition-colors" 
     fill="none" 
     viewBox="0 0 24 24" 
     stroke="currentColor">

    <path 
        d="M19 19.2674V7.84496C19 5.64147 17.4253 3.74489 15.2391 3.31522C13.1006 2.89493 10.8994 2.89493 8.76089 3.31522C6.57467 3.74489 5 5.64147 5 7.84496V19.2674C5 20.6038 6.46752 21.4355 7.63416 20.7604L10.8211 18.9159C11.5492 18.4945 12.4508 18.4945 13.1789 18.9159L16.3658 20.7604C17.5325 21.4355 19 20.6038 19 19.2674Z" 
        stroke-linecap="round" 
        stroke-linejoin="round" 
        stroke-width="1.8" />
        
                 </svg>
                <span>Saved</span>
            </div>
        </a>

    </aside>

